<div class="container">
  <h3>About the Rentals Site</h3>
  <p>
    This is an application where property owners may list places for rent, and renters will be able to find places to stay. (Similar to Buy Rent Kenya, or AirBnB ).
  </p>
  <br>
  {{#link-to "contact"}}Click here to contact us{{/link-to}}
</div>
