<div class="container">
  <h3>Contact Us</h3>
  <p>
    Our representatives are ready to help you choose a home or answer any questions you may have.
  </p>
  <p>Call us anytime on:</p>
  <p>(253) 0800-555-1212</p>
  <br>
  <p>or emails us at:</p>
  <p>www.rentalsqueries@app.info</p>

  {{#link-to "about"}}What we do{{/link-to}}
</div>
