<h3>More information about {{property.bedrooms}} bedroom property in {{property.location}}</h3>
{{update-property property=model update="update"}}
{{property-detail property=model deleteProperty="deleteProperty"}}
